<app-header></app-header>
<div class="container-fluid">
    <div class="container">
        <div>
            <br><br>
            <h1 class="cont-heading">Contact</h1>
        </div>
        <br>
        <div>
            <p class="para">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt consequuntur sunt autem
                sequi tenetur, nobis eos repellat perspiciatis deleniti excepturi natus modi minima atque, nemo
                nesciunt, quidem esse. Nisi, earum?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis enim molestiae ea sed eum numquam aut
                atque qui vitae beatae! Quas expedita deserunt ipsam soluta officiis molestias accusantium cumque velit?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure facilis blanditiis, libero dolorum vitae
                harum fugiat perspiciatis sint! Sit dolor repudiandae quibusdam quod facere deserunt nostrum debitis.
                Inventore omnis aliquam facilis officia qui laudantium fuga tempore?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium ut nam dolorum distinctio aut
                voluptatum officia, nesciunt totam quae quas illum maxime reiciendis ipsum voluptatibus saepe ex sunt
                magni nemo doloremque?
            </p>

        </div>
        <div class="form-container ">
            <form class="cont-form">
                <div class="form-group">
                    <input type="text" id="fname" name="fname" placeholder="Your Name">
                    <input type="text" id="email" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" id="phone" name="phone" placeholder="Phone">
                    <input type="text" id="website" name="website" placeholder="Website">
                </div>
                <div class="form-group full-width">
                    <textarea id="message" name="message" placeholder="Your Message" rows="4"></textarea>
                </div>
                <button type="submit" class="btn contact-btn">CONTACT</button>
            </form>
        </div>
    </div>
    <hr style="color: white;">
    <app-footer></app-footer>
</div>
