<app-header></app-header>

<div class="container-fluid">
    <br>
    <h3 class="heading">Here is our portfolio</h3>
    <br>
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-2 col-4">
            <div class="card">
                <img src="../../assets/images/port1.png" class="card-img-top" alt="...">
                <div class="overlay">
                  <h1 class="text-h1">More About</h1>
                  <p class="text-p">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  </p>
                  <a class="link-a" href="#"> Read More</a>
            
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-2 col-4">
            <div class="card">
                <img src="../../assets/images/port2.png" class="card-img-top" alt="...">
                <div class="overlay">
                  <h1 class="text-h1">More About</h1>
                  <p class="text-p">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  </p>
                  <a class="link-a" href="#"> Read More</a>
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-2 col-4">
            <div class="card">
                <img src="../../assets/images/port1.png" class="card-img-top" alt="...">
                <div class="overlay">
                  <h1 class="text-h1">More About</h1>
                  <p class="text-p">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  </p>
                  <a class="link-a" href="#"> Read More</a>
            
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-2 col-4">
            <div class="card">
                <img src="../../assets/images/port2.png" class="card-img-top" alt="...">
                <div class="overlay">
                  <h1 class="text-h1">More About</h1>
                  <p class="text-p">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  </p>
                  <a class="link-a" href="#"> Read More</a>
            
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-2 col-4">
            <div class="card">
                <img src="../../assets/images/port1.png" class="card-img-top" alt="...">
                <div class="overlay">
                  <h1 class="text-h1">More About</h1>
                  <p class="text-p">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  </p>
                  <a class="link-a" href="#"> Read More</a>
            
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-2 col-4">
            <div class="card">
                <img src="../../assets/images/port2.png" class="card-img-top" alt="...">
                <div class="overlay">
                  <h1 class="text-h1">More About</h1>
                  <p class="text-p">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  </p>
                  <a class="link-a" href="#"> Read More</a>
            
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-2 col-4">
            <div class="card">
                <img src="../../assets/images/port1.png" class="card-img-top" alt="...">
                <div class="overlay">
                  <h1 class="text-h1">More About</h1>
                  <p class="text-p">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  </p>
                  <a class="link-a" href="#"> Read More</a>
            
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-2 col-4">
            <div class="card">
                <img src="../../assets/images/port2.png" class="card-img-top" alt="...">
                <div class="overlay">
                  <h1 class="text-h1">More About</h1>
                  <p class="text-p">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  </p>
                  <a class="link-a" href="#"> Read More</a>
            
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-2 col-4">
            <div class="card">
                <img src="../../assets/images/port1.png" class="card-img-top" alt="...">
                <div class="overlay">
                  <h1 class="text-h1">More About</h1>
                  <p class="text-p">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  </p>
                  <a class="link-a" href="#"> Read More</a>
            
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-2 col-4">
            <div class="card">
                <img src="../../assets/images/port2.png" class="card-img-top" alt="...">
                <div class="overlay">
                  <h1 class="text-h1">More About</h1>
                  <p class="text-p">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  </p>
                  <a class="link-a" href="#"> Read More</a>
            
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-2 col-4">
            <div class="card">
                <img src="../../assets/images/port1.png" class="card-img-top" alt="...">
                <div class="overlay">
                  <h1 class="text-h1">More About</h1>
                  <p class="text-p">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  </p>
                  <a class="link-a" href="#"> Read More</a>
            
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-2 col-4">
            <div class="card">
                <img src="../../assets/images/port2.png" class="card-img-top" alt="...">
                <div class="overlay">
                  <h1 class="text-h1">More About</h1>
                  <p class="text-p">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  </p>
                  <a class="link-a" href="#"> Read More</a>
            
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-2 col-4">
            <div class="card">
                <img src="../../assets/images/port1.png" class="card-img-top" alt="...">
                <div class="overlay">
                  <h1 class="text-h1">More About</h1>
                  <p class="text-p">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  </p>
                  <a class="link-a" href="#"> Read More</a>
            
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-2 col-4">
            <div class="card">
                <img src="../../assets/images/port2.png" class="card-img-top" alt="...">
                <div class="overlay">
                  <h1 class="text-h1">More About</h1>
                  <p class="text-p">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  </p>
                  <a class="link-a" href="#"> Read More</a>
            
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-2 col-4">
            <div class="card">
                <img src="../../assets/images/port1.png" class="card-img-top" alt="...">
                <div class="overlay">
                  <h1 class="text-h1">More About</h1>
                  <p class="text-p">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  </p>
                  <a class="link-a" href="#"> Read More</a>
            
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-2 col-4">
            <div class="card">
                <img src="../../assets/images/port2.png" class="card-img-top" alt="...">
                <div class="overlay">
                  <h1 class="text-h1">More About</h1>
                  <p class="text-p">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  </p>
                  <a class="link-a" href="#"> Read More</a>
            
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-2 col-4">
            <div class="card">
                <img src="../../assets/images/port1.png" class="card-img-top" alt="...">
                <div class="overlay">
                  <h1 class="text-h1">More About</h1>
                  <p class="text-p">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  </p>
                  <a class="link-a" href="#"> Read More</a>
            
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-2 col-4">
            <div class="card">
                <img src="../../assets/images/port2.png" class="card-img-top" alt="...">
                <div class="overlay">
                  <h1 class="text-h1">More About</h1>
                  <p class="text-p">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  </p>
                  <a class="link-a" href="#"> Read More</a>
            
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-2 col-4">
            <div class="card">
                <img src="../../assets/images/port1.png" class="card-img-top" alt="...">
                <div class="overlay">
                  <h1 class="text-h1">More About</h1>
                  <p class="text-p">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  </p>
                  <a class="link-a" href="#"> Read More</a>
            
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-2 col-4">
            <div class="card">
                <img src="../../assets/images/port2.png" class="card-img-top" alt="...">
                <div class="overlay">
                  <h1 class="text-h1">More About</h1>
                  <p class="text-p">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  </p>
                  <a class="link-a" href="#"> Read More</a>
            
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-2 col-4">
            <div class="card">
                <img src="../../assets/images/port1.png" class="card-img-top" alt="...">
                <div class="overlay">
                  <h1 class="text-h1">More About</h1>
                  <p class="text-p">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  </p>
                  <a class="link-a" href="#"> Read More</a>
            
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-2 col-4">
            <div class="card">
                <img src="../../assets/images/port2.png" class="card-img-top" alt="...">
                <div class="overlay">
                  <h1 class="text-h1">More About</h1>
                  <p class="text-p">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  </p>
                  <a class="link-a" href="#"> Read More</a>
            
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-2 col-4">
            <div class="card">
                <img src="../../assets/images/port1.png" class="card-img-top" alt="...">
                <div class="overlay">
                  <h1 class="text-h1">More About</h1>
                  <p class="text-p">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  </p>
                  <a class="link-a" href="#"> Read More</a>
            
              </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-2 col-4">
            <div class="card">
                <img src="../../assets/images/port2.png" class="card-img-top" alt="...">
                <div class="overlay">
                  <h1 class="text-h1">More About</h1>
                  <p class="text-p">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  </p>
                  <a class="link-a" href="#"> Read More</a>
            
              </div>
            </div>
        </div>
        
    </div>
<br><br>

    
    <div class="text-center mt-2">

        <button class="btn knowbtn text-white">LOAD MORE WORKS</button>
    </div>
    <div class="horizontal"></div>

</div>


<app-footer></app-footer>